<html>
<head>

<!-- AngularJS -->
<script src="../bower_components/angular/angular.min.js"></script>

<!-- AutobahnJS -->
<script src="../bower_components/autobahn/autobahn.js"></script>

<!-- AngularWAMP -->
<script src="../bower_components/angular-wamp/release/angular-wamp.js"></script>

<!-- App -->
<script src="../app.js"></script>

<!-- Orders -->
<script src="stockCtrl.js"></script>

</head>
<body ng-app="App">

<div ng-controller="StockCtrl">
    <h1>Stock manager</h1>
    <table>
        <tr>
            <td>Topic:</td>
            <td>{{topic}}</td>
        </tr>
        <tr>
            <td>Connected:</td>
            <td>{{connected}}</td>
        </tr>
    </table>
    <br/>
    <div>
        Enter a channel: <input type="text" ng-disabled="connected" ng-model="topicField" value=""/><br/>
        <input type="button" ng-disabled="topicField.length < 1 || connected" ng-click="connect(topicField)" value="Connect!"/>
    </div>
    <div style="width: 50%; float: left;">
        <h3>Event Log</h3>
        <ul>
            <li ng-repeat="event in eventLog track by $index">{{event}}</li>
        </ul>
    </div>
    <div style="width: 50%; float: right;">
        <h3>Available stock:</h3>
        <ul>
            <li>Lolly: {{stock.Lolly}}</li>
            <li>Candybar: {{stock.Candybar}}</li>
            <li>Gumball: {{stock.Gumball}}</li>
        </ul>
    </div>
</div>

</body>
</html>
